.error-message {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
}

button {
  background-color: lightgray;
  border-radius: 8px;
  border-style: none;
}

.button-cont {
  display: flex;
  justify-content: center;
}
